* {box-sizing: border-box;}

body {font-family: sans-serif;}

.container  {
    max-width: 1140px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
.navbar {display: flex;
justify-content: space-between;
margin-bottom: 160px;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: #95989a;
    text-transform: uppercase;
}

.top-header {
    padding-top: 70px;
    padding-bottom: 190px;
    background-color: #f4f5f7;
}

.socials a {
    text-decoration: none;
    margin-left: 23px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #32325f;
}

.main-text {
    width: 50%;
}

.main-img  { 
    width: 50%;
}

.main-img img {
    width: 100%;
}
.subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    display: block;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #32325f;
}

.subscribe {
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-bottom: 16px;
    line-height: 26px;
}

.price-tag {
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
}

.price {
    font-size: 48px;
    font-weight: 400;
    display: block;
    margin-bottom: 50px;
}

.btn {
    color:#fff;
    text-decoration: none;
    padding: 21px 34px;
    font-size: 20px;
    font-weight: 700;
}

.green  {
    border-radius: 6px;
    background-color: #2dce89;¨
    box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
}

.blue {
    border-radius: 6px;
    background-color: #5e72e4;
    margin-left: 30px;
    box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
}

.about-item span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #525f7f;
    margin-right: 35px;
    padding-bottom: 131px;
}

.about-wrap {
    display: flex;
}

.about-subheadline {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #525f7f;
    margin-top: 92px;
}

.about-headline {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 100px;
    color: #32325f;
}

.about-item img {
    margin-bottom: 40px;
}

.about-item {
    width: 25% ;
}

.people {
    background-color: #f4f5f7;
}

.people-subscribe {
    font-size: 20px;
    font-weight: 400;
    color: #32325f;
    padding-top: 90px;
    padding-bottom: 15px;
    display: block;
}

.people-headline {
    font-size: 48px;
    color: #32325f;
    font-weight: 700;
    display: block;
    padding-bottom: 65px;
}
.people-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.people-img img {
    width: 362px;
    height: 254px;
    margin-bottom: 36px;
}

.footer {
  background-color: #32325f;
  padding-top: 80px;
  padding-bottom: 100px;
}

.footer-contact {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;;
}

.footer-header {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 35px;
}

.footer-para {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-block {
    width: 33%;
    margin-left: 190px;
}